.vscode/*
!.vscode/extensions.json

*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.git
.idea
.pnp.*
/.pnp
/build
/coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.yarn/*
!.yarn/plugins
!.yarn/releases

.eslintcache
